<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice">
    <test name="EpamUI">
        <classes>
            <class name="org.yandrut.EpamUiTesting">
                <methods>
                    <include name="titleComparison"/>
                    <include name="lightThemeChanged"/>
                    <include name="languageChanged"/>
                    <include name="elementsPresent"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>